---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thoughtworks/pacto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1383853395'
      Last-Modified:
      - Wed, 06 Nov 2013 21:01:20 GMT
      Etag:
      - '"181f7705eba27dcbfe510dc5e7d666d1"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"id":9921531,"name":"pacto","full_name":"thoughtworks/pacto","owner":{"login":"thoughtworks","id":<%= id.inspect %>,"avatar_url":"https://2.gravatar.com/avatar/e0bb26de7be810e5861c7e58e2e941d5?d=https%3A%2F%2Fidenticons.github.com%2F1021707194b6d060f75860a9fa6b73a2.png&r=x","gravatar_id":"e0bb26de7be810e5861c7e58e2e941d5","url":"https://api.github.com/users/thoughtworks","html_url":"https://github.com/thoughtworks","followers_url":"https://api.github.com/users/thoughtworks/followers","following_url":"https://api.github.com/users/thoughtworks/following{/other_user}","gists_url":"https://api.github.com/users/thoughtworks/gists{/gist_id}","starred_url":"https://api.github.com/users/thoughtworks/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thoughtworks/subscriptions","organizations_url":"https://api.github.com/users/thoughtworks/orgs","repos_url":"https://api.github.com/users/thoughtworks/repos","events_url":"https://api.github.com/users/thoughtworks/events{/privacy}","received_events_url":"https://api.github.com/users/thoughtworks/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/thoughtworks/pacto","description":"Pacto
        is a Ruby framework to help with Integration Contract Testing.","fork":true,"url":"https://api.github.com/repos/thoughtworks/pacto","forks_url":"https://api.github.com/repos/thoughtworks/pacto/forks","keys_url":"https://api.github.com/repos/thoughtworks/pacto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/thoughtworks/pacto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/thoughtworks/pacto/teams","hooks_url":"https://api.github.com/repos/thoughtworks/pacto/hooks","issue_events_url":"https://api.github.com/repos/thoughtworks/pacto/issues/events{/number}","events_url":"https://api.github.com/repos/thoughtworks/pacto/events","assignees_url":"https://api.github.com/repos/thoughtworks/pacto/assignees{/user}","branches_url":"https://api.github.com/repos/thoughtworks/pacto/branches{/branch}","tags_url":"https://api.github.com/repos/thoughtworks/pacto/tags","blobs_url":"https://api.github.com/repos/thoughtworks/pacto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/thoughtworks/pacto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/thoughtworks/pacto/git/refs{/sha}","trees_url":"https://api.github.com/repos/thoughtworks/pacto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/thoughtworks/pacto/statuses/{sha}","languages_url":"https://api.github.com/repos/thoughtworks/pacto/languages","stargazers_url":"https://api.github.com/repos/thoughtworks/pacto/stargazers","contributors_url":"https://api.github.com/repos/thoughtworks/pacto/contributors","subscribers_url":"https://api.github.com/repos/thoughtworks/pacto/subscribers","subscription_url":"https://api.github.com/repos/thoughtworks/pacto/subscription","commits_url":"https://api.github.com/repos/thoughtworks/pacto/commits{/sha}","git_commits_url":"https://api.github.com/repos/thoughtworks/pacto/git/commits{/sha}","comments_url":"https://api.github.com/repos/thoughtworks/pacto/comments{/number}","issue_comment_url":"https://api.github.com/repos/thoughtworks/pacto/issues/comments/{number}","contents_url":"https://api.github.com/repos/thoughtworks/pacto/contents/{+path}","compare_url":"https://api.github.com/repos/thoughtworks/pacto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/thoughtworks/pacto/merges","archive_url":"https://api.github.com/repos/thoughtworks/pacto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/thoughtworks/pacto/downloads","issues_url":"https://api.github.com/repos/thoughtworks/pacto/issues{/number}","pulls_url":"https://api.github.com/repos/thoughtworks/pacto/pulls{/number}","milestones_url":"https://api.github.com/repos/thoughtworks/pacto/milestones{/number}","notifications_url":"https://api.github.com/repos/thoughtworks/pacto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/thoughtworks/pacto/labels{/name}","releases_url":"https://api.github.com/repos/thoughtworks/pacto/releases{/id}","created_at":"2013-05-07T20:57:54Z","updated_at":"2013-11-06T21:01:20Z","pushed_at":"2013-11-06T21:01:16Z","git_url":"git://github.com/thoughtworks/pacto.git","ssh_url":"git@github.com:thoughtworks/pacto.git","clone_url":"https://github.com/thoughtworks/pacto.git","svn_url":"https://github.com/thoughtworks/pacto","homepage":"","size":1274,"stargazers_count":11,"watchers_count":11,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":9,"mirror_url":null,"open_issues_count":10,"forks":9,"open_issues":10,"watchers":11,"default_branch":"master","master_branch":"master","organization":{"login":"thoughtworks","id":18878,"avatar_url":"https://2.gravatar.com/avatar/e0bb26de7be810e5861c7e58e2e941d5?d=https%3A%2F%2Fidenticons.github.com%2F1021707194b6d060f75860a9fa6b73a2.png&r=x","gravatar_id":"e0bb26de7be810e5861c7e58e2e941d5","url":"https://api.github.com/users/thoughtworks","html_url":"https://github.com/thoughtworks","followers_url":"https://api.github.com/users/thoughtworks/followers","following_url":"https://api.github.com/users/thoughtworks/following{/other_user}","gists_url":"https://api.github.com/users/thoughtworks/gists{/gist_id}","starred_url":"https://api.github.com/users/thoughtworks/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thoughtworks/subscriptions","organizations_url":"https://api.github.com/users/thoughtworks/orgs","repos_url":"https://api.github.com/users/thoughtworks/repos","events_url":"https://api.github.com/users/thoughtworks/events{/privacy}","received_events_url":"https://api.github.com/users/thoughtworks/received_events","type":"Organization","site_admin":false},"parent":{"id":9918697,"name":"contracts","full_name":"abril/contracts","owner":{"login":"abril","id":526010,"avatar_url":"https://1.gravatar.com/avatar/85938b16ee92763b450dd4a5d2bbd0a0?d=https%3A%2F%2Fidenticons.github.com%2F02bb4b5923b6bb03c328be8342b1de55.png&r=x","gravatar_id":"85938b16ee92763b450dd4a5d2bbd0a0","url":"https://api.github.com/users/abril","html_url":"https://github.com/abril","followers_url":"https://api.github.com/users/abril/followers","following_url":"https://api.github.com/users/ab[...]
